{% extends 'base.html.twig' %}

{% block title %}Index Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

<table class="styled-table">
        <caption>Employee Information</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Statut</th>
                <th>View</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>John Smith</td>
                <td>Marketing</td>
                <td>$75,000</td>
                <td>2020-05-15</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Sarah Johnson</td>
                <td>Engineering</td>
                <td>$85,000</td>
                <td>2019-08-22</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Michael Brown</td>
                <td>HR</td>
                <td>$65,000</td>
                <td>2021-01-10</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Emily Davis</td>
                <td>Finance</td>
                <td>$78,000</td>
                <td>2020-11-05</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Robert Wilson</td>
                <td>Engineering</td>
                <td>$92,000</td>
                <td>2018-03-18</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
